/* Content */
.content {
    padding: 20px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0 16px
}

.section-title h2 {
    font-size: 20px;
    margin: 0
}

.filters {
    display: flex;
    gap: 10px
}

