.form-usestate-mainform{
    max-width: 500px;
    background: #b6a9ff;
    margin: 15px;
    border-radius: 8px;
}

.form-usestate-mainform .form-simple-cls input:not(input[type="checkbox"],input[type="radio"]){
    width: 100%;
    min-height: 35px;
    padding: 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000611;
}


.form-usestate-mainform .form-simple-cls button{
    background-color: rgb(255, 129, 56);
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.form-simple-cls label,.form-simple-cls p{
    color: #000;
}

.form-simple-cls label{
    display: block;
    margin-bottom: 12px;
}

.form-simple-cls p{
    margin: 12px 0;
}

    